<div class="layout-row flex">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Template importer</h1>
        </md-toolbar>
        <ul>
            <li ng-repeat="project in ctx.projects">
                <a href="#" ng-click="selectProject(project)">{{project}}</a>
            </li>
        </ul>
    </md-sidenav>
    <div class="layout-column flex">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>{{ctx.selectedProject}}</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button ng-show="ctx.selectedProject" ng-click="saveProject()">
                    save project
                </md-button>
                <md-button ng-show="ctx.selectedProject" ng-click="exportProject()">
                    export project
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="layout-padding flex">
            <iframe ng-if="ctx.projectUrl" ng-src="{{ctx.projectUrl}}" style="width: 100%; display: block; border: none;" ti-iframe-onload="iframeLoadedCallBack"></iframe>
        </md-content>
    </div>
</div>

<md-menu>
    <ti-catch-open-menu ti-open-menu="$mdOpenMenu()" ti-model="ctx.openMenuFct" md-menu-origin class="testkevan" ng-style="{left: ctx.ctxMenuPosition.left, top: ctx.ctxMenuPosition.top}"></ti-catch-open-menu>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="exportAsArea()">
                Export as area
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>